<div class="well narrowed shadow">
    <h2 class='page-header'>About Lorain County Music Foundation</h2>
    <div class="">
        <ul>
            <li>Lorain Count Muisc Founation wishes to provide an outlet for local aspiring & established musicians of all ages, genres & experience levels to perform in a safe & positive environment.</li>
            <li>Our ultimate goal is to establish a children’s day camp that would provide music therapy for underprivileged & special needs children in the area</li>
            <li>In addition to creating a day camp for kids, we plan to begin a program with the local high schools & colleges to help students to earn school credit <br>
                by volunteering & doing something they love...all while building their skills & finishing their degree.</li>
        </ul>
    </div>
</div>