<h1 class="page-header">Contact Us!</h1>

<div class="contact-list">
<h2>LCMF Board Memebers</h2>
<ul class="list-unstyled contact-list">
    <li class="contact-list-item"><span class="role">PRESIDENT & FOUNDER: </span> <span class="name pull-right"> GERI R. CIACCHI </span></li>
    <li class="contact-list-item"><span class="role">VICE PRESIDENT: </span> <span class="name pull-right">JORDAN LUCIA </span></li>
    <li class="contact-list-item"><span class="role">DIRECTOR & TREASURER: </span> <span class="name pull-right">JOSEPH J. ROCHA</span></li>
    <li class="contact-list-item"><span class="role">SECRETARY: </span> <span class="name pull-right">BRITTANY HICKS </span></li>
    <li class="contact-list-item"><span class="role">DOCUMENTARIAN:</span> <span class="name pull-right"> BOB BOLEY </span></li>
    <li class="contact-list-item"><span class="role">MEDIA:</span> <span class="name pull-right"> J.L. THOMAS </span></li>
    <li class="contact-list-item"><span class="role">HEAD OF SECURITY & STAFF:</span> <span class="name pull-right"> JOE CEH </span></li>
    <li class="contact-list-item"><span class="role">COOK CRAFTERY:</span> <span class="name pull-right"> KRISTA SMITH </span></li>
    <li class="contact-list-item"><span class="role">FIRST AID RESPONDERS:</span> <span class="name pull-right"> JESS PAULEY & ALEXANDER KEEFE </span></li>
    <li class="contact-list-item"><span class="role">STAGE: </span> <span class="name pull-right">JACK LUGAS, ADAM HALL, BOB BOLEY, & JORDAN LUCIA</span></li>
    <li class="contact-list-item"></li>
    <li class="contact-list-item"><span class="role">STAFF:</span>
        <span class="">BELINDA WARREN & FAMILY, 
            CHRISSY GORDAN, 
            TONY JOHNS, 
            NICOLE JOHNS, 
            EMILY LEGGIT, 
            ERICA
            & MORE. 
        </span>

</ul>

</div>
<hr>
<p>: 
<br>











