<h1>Main#contact</h1>
<ul class="list-unstyled">
    <li><strong>PRESIDENT & FOUNDER: </strong> <span class="name"> GERI R. CIACCHI </span></li>
    <li><strong>VICE PRESIDENT: </strong> <span class="name">JORDAN LUCIA </span></li>
    <li><strong>DIRECTOR & TREASURER: </strong> <span class="name">JOSEPH J. ROCHA</span></li>
    <li><strong>SECRETARY: </strong> <span class="name">BRITTANY HICKS </span></li>
    <li><strong>DOCUMENTARIAN:</strong> <span class="name"> BOB BOLEY </span></li>
    <li><strong>MEDIA:</strong> <span class="name"> J.L. THOMAS </span></li>
    <li><strong>HEAD OF SECURITY & STAFF:</strong> <span class="name"> JOE CEH </span></li>
    <li><strong>COOK CRAFTERY:</strong> <span class="name"> KRISTA SMITH </span></li>
    <li><strong>FIRST AID RESPONDERS:</strong> <span class="name"> JESS PAULEY & ALEXANDER KEEFE </span></li>
    <li><strong>STAGE: </strong> <span class="name">JACK LUGAS, ADAM HALL, BOB BOLEY, & JORDAN LUCIA</span></li>
    <li></li>
    
    
    
    
    
    
    
   
    
</dl>

<hr>
<p>STAFF: 
<br>
BELINDA WARREN & FAMILY, CHRISSY GORDAN, TONY JOHNS, NICOLE JOHNS,EMILY LEGGIT, ERICA & MORE. </p>











