<div class="col-md-12">
    <h1 class="page-header">Lorain County Music Foundation</h1>
    <p>LCMF wishes to provide an outlet for local aspiring & established musicians of all ages, genres & experience levels to perform in a safe & positive environment. 
    Our ultimate goal is to establish a children’s day camp that would provide music therapy for underprivileged & special needs children in the area
    In addition to creating a day camp for kids, we plan to begin a program with the local high schools & colleges to help students to earn school credit by volunteering  & doing something they love…all while building their skills & finishing their degree.
    </p>
    <hr>

    <div class="col-md-6 music-gif-bg box">
</div>
</div>


